# API
API_PORT=

# Postgres
POSTGRES_HOST=db
POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PORT=
POSTGRES_PASSWORD_FILE=

# Redis
REDIS_PORT=
REDIS_URL=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5050

# Ollama
OLLAMA_URL=
OLLAMA_LLM_MODEL=granite4.1:3b
OLLAMA_EMBEDDING_MODEL=embeddinggemma:300m

OLLAMA_TEMPERATURE=
OLLAMA_TOP_K=
OLLAMA_TOP_P=
OLLAMA_REPEAT_PENALTY=
OLLAMA_NUM_CTX=