DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
REDIS_URL=redis://redis_host:redis_port
OLLAMA_URL=http://ollama_host:11434
OLLAMA_LLM_MODEL=qwen2.5:3b
OLLAMA_EMBEDDING_MODEL=nomic-embed-text